<section>
	<header class="major">
		<style>.embed-container {position: relative; padding-bottom: 50%; height: 0; overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed {position: absolute; top: 20; left: 10%; width: 80%; height: 80%; }</style><div class='embed-container'><iframe width="560" height="315" src="https://www.youtube.com/embed/XrEOK27KugE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
		{{ with .Site.Params.about.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
	</header>
	{{ with .Site.Params.about.content }}<p>{{ . | markdownify }}</p>{{ end }}
</section>
